<!-- Back to top -->
<div (window:scroll)="windowScroll()">
  <!-- note :  [ngxScrollTo] est une directive cf https://angular.io/guide/attribute-directives -->
<a href="javascript:void(0);" [ngxScrollTo]="'#home-page'" class="back-to-top" id="back-to-top">
  <i class="ti-angle-up"> </i>
</a>
</div>

<!-- Style switcher -->
<!-- FIXME add condition on style depending on if its open or not-->
<div id="style-switcher" [style]="isVisible?'left: 0':'left: -189px'">
    <div>
        <h3>Select your color</h3>
      <!-- FIXME *ngFor with function 's call on click button -->
        <ul class="pattern">
            <li *ngFor="let theme of themeList; let i=index">
                <a [ngClass]="'color'+(i+1)" class="pointer" (click)="setTheme(theme)"></a>
            </li>
        </ul>
    </div>
    <div class="bottom">
        <a (click)="switcherReveal()" class="settings pointer">
          <i class="ti-settings ti-spin"></i>
        </a>
    </div>
</div>
<!-- end Style switcher -->
